html {
    --dashboard-dist-top: 102px;
}

ul {
    padding-left: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}

#dashboard-center {
    width: 100%;
    min-height: 100vh;
    max-width: 1300px;
}

.dashboard-col:first-child {
    background: var(--lumo-shade-20pct);
}

.dashboard-col {
    min-height: 100vh;
    flex-grow: 1;
}

#dashboard-category-bar {
    height: 100%;
    padding-top: var(--dashboard-dist-top);
    padding-bottom: 64px;
}

#dashboard-main {
    width: 100%;
    height: 100%;
    padding-top: var(--dashboard-dist-top);
    padding-bottom: 64px;
}

#dashboard-lock-layout {
    width: calc(auto + 32px) !important;
    background: var(--lumo-tint-5pct);
    border-radius: 8px;
    padding-top: 3em;
    padding-bottom: 3em;
}

#dashboard-lock-h3 {
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

#dashboard-lock-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
}

#dashboard-lock-ul {
    margin-left: -24px;
    margin-top: 8px;
}

#dashboard-tabs-hr {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
}

.dashboard-card {
    border-radius: 8px;
    background: hsla(214, 2%, 1%, 0.11);
    padding: 16px;
    box-sizing: border-box;
}

.dashboard-img {
    width: 500px !important;
    max-width: 100%;
}

.dashboard-horizontal {
    flex-direction: row;
}

.dashboard-vertical {
    flex-direction: column;
}

.dashboard-vertical-child {
    margin-top: 0;
    margin-bottom: 0;
}

.dashboard-horizontal-child:not(:first-child) {
    margin-left: 1em;
}

.dashboard-vertical-child:not(:first-child) {
    margin-top: 1.25em;
}

.dashboard-info-icon {
    height: 16px;
    margin-left: 4px;
    cursor: pointer;
}

.dashboard-header {
    padding-top: 1rem;
}

.dashboard-vertical > .dashboard-vertical:first-child > .dashboard-header:first-child {
    padding-top: 0.25rem;
}

#dashboard-main > .dashboard-vertical > .dashboard-header:first-child {
    padding-top: 0.25rem;
}

#dashboard-premium-unlocked-layout {
    border-radius: 6px;
    background: var(--lumo-shade);
    margin-top: 21px;
}

.dashboard-premium-unlocked-yes {
    height: 16px;
    color: var(--lumo-success-color)
}

.dashboard-premium-unlocked-no {
    height: 1em;
    color: var(--lumo-error-color)
}

.dashboard-image-cell {
    border-radius: 8px;
    background: var(--lumo-tint-5pct);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.dashboard-image-cell-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-top-right-radius: 8px;
}

.dashboard-description {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.dashboard-text-error {
    color: var(--lumo-error-text-color);
}

.dashboard-text-success {
    color: var(--lumo-success-text-color);
}

.dashboard-text-success {
    color: var(--lumo-success-text-color);
}

.dashboard-text-warning {
    color: rgb(var(--warning-color-rgb));
}

.dashboard-text-secondary {
    color: var(--secondary-text-color);
}

.dashboard-text-bold {
    font-weight: bold;
}

.dashboard-text-hint {
    color: var(--secondary-text-color);
    font-size: var(--lumo-font-size-s);
    margin-top: 0;
}

h3 + div > .dashboard-text {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.dashboard-list {
    flex-direction: column;
    max-height: 370px;
}

.dashboard-list-item {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    background: var(--lumo-contrast-5pct);
    border-radius: 8px;
}

.dashboard-list-item:not(:first-child) {
    margin-top: 0.5em;
}

.dashboard-emoji-field {
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    background: var(--lumo-contrast-10pct);
    display: flex;
    justify-content: center;
    align-items: center;
}

vaadin-multi-select-combo-box.hide-toggle-button::part(toggle-button) {
    display: none;
}

vaadin-multi-select-combo-box.hide-overlay::part(overlay) {
    display: none;
}

@media (min-width: 700px) {

    html {
        --dashboard-dist-top: 118px;
    }

    .dashboard-horizontal-child-wrap:not(:first-child) {
        margin-left: 1em;
    }

}

@media (min-width: 1000px) {

    html {
        --dashboard-dist-top: 134px;
    }

    #dashboard-category-bar {
        width: 450px !important;
        background: var(--lumo-shade-20pct);
    }

    #dashboard-main {
        padding-left: 48px;
        padding-right: 48px;
    }

    .dashboard-card {
        padding: 32px;
    }

}

@media (max-width: 700px) {

    .dashboard-horizontal-wrap {
        flex-direction: column;
    }

    .dashboard-horizontal-child-wrap:not(:first-child) {
        margin-top: 1em;
    }

    .dashboard-horizontal-child-wrap {
        width: 100%;
    }

}