li:not(:first-child).premium-entry {
    margin-top: 16px;
}

li.premium-entry {
    color: var(--lumo-body-text-color);
}

#premium-tiers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card0, #card1 {
    margin-bottom: 16px;
}

#card1 {
    order: -1;
}

.tier-card {
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--lumo-contrast-10pct);
    width: 100%;
    flex: 1 1 0;
    padding-top: 28px;
    padding-bottom: 8px;
}

.tier-card2 {
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--lumo-contrast-10pct);
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.prop-check {
    color: var(--lumo-success-color);
    margin-right: 6px;
    flex-shrink: 0;
    height: 1em;
    margin-top: 6px;
}

vaadin-accordion-panel > div > .prop-check {
    margin-top: 4px;
}

.prop-notcheck {
    color: var(--lumo-error-color);
    margin-right: 6px;
    flex-shrink: 0;
    height: 1em;
    margin-top: 8px;
}

.tier-perks-layout {
    margin-top: 32px;
}

.tier-perks-layout > a {
    text-decoration: underline;
    text-decoration-color: var(--lumo-body-text-color);
}

.change-quantities {
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-top: -8px;
    margin-bottom: 12px;
}

#paddle-popup {
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-animation: background-fadein 0.5s;
    -moz-animation: background-fadein 0.5s;
    -o-animation: background-fadein 0.5s;
    animation: background-fadein 0.5s;
}

#paddle-main {
    z-index: 8;
    margin-left: auto;
    margin-right: 0;
    max-width: 550px;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    box-shadow: var(--lumo-box-shadow-l);
    -webkit-animation: slidein 0.5s;
    -moz-animation: slidein 0.5s;
    -o-animation: slidein 0.5s;
    animation: slidein 0.5s;
}

#paddle-header {
    padding-bottom: 32px;
    margin-bottom: 8px;
    background-image: radial-gradient(circle at 29% 55%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 4%, transparent 4%, transparent 44%, transparent 44%, transparent 100%), radial-gradient(circle at 85% 89%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 51%, transparent 51%, transparent 52%, transparent 52%, transparent 100%), radial-gradient(circle at 6% 90%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 53%, transparent 53%, transparent 64%, transparent 64%, transparent 100%), radial-gradient(circle at 35% 75%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 6%, transparent 6%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 56% 75%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 16%, transparent 16%, transparent 23%, transparent 23%, transparent 100%), radial-gradient(circle at 42% 0%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 3%, transparent 3%, transparent 26%, transparent 26%, transparent 100%), radial-gradient(circle at 29% 28%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 51%, transparent 51%, transparent 75%, transparent 75%, transparent 100%), radial-gradient(circle at 77% 21%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 35%, transparent 35%, transparent 55%, transparent 55%, transparent 100%), radial-gradient(circle at 65% 91%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 46%, transparent 46%, transparent 76%, transparent 76%, transparent 100%), linear-gradient(45deg, rgb(42,127,239),rgb(42,127,239));
}

#paddle-title {
    margin-top: 16px;
}

.paddle-container {
    width: 100%;
}

#notification-field {
    width: 100%;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--lumo-primary-color);
    background-color: var(--lumo-secondary);
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 12px;
}

#notification-icon {
    color: var(--lumo-primary-color);
    min-width: 1.5em;
}

#txt2img-remaining {
    padding: 8px;
    background-color: var(--lumo-secondary);
    border-radius: 8px;
    margin-left: 12px;
}

.previous-price {
    text-decoration: line-through;
    color: var(--lumo-disabled-text-color);
}

@keyframes background-fadein {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

@-moz-keyframes background-fadein {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

@-webkit-keyframes background-fadein {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

@-ms-keyframes background-fadein {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

@keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-ms-keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.paddle-frame-overlay {
    color-scheme: light dark;
}


@media (min-width: 700px) {

    #premium-tiers {
        flex-direction: row;
    }

    #card0, #card1 {
        margin-bottom: 0;
    }

    #card1, #card2 {
        margin-left: 16px;
    }

    #card1 {
        order: 0;
    }

    .tier-card {
        max-width: 350px;
        width: 0 !important;
    }

    .tier-card2 {
        max-width: 350px;
    }

}