*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.zip
*.tar.gz
*.rar
hs_err_pid*

workspace.xml
usage.statistics.xml
tasks.xml
modules.xml
.target
.DS_Store
.idea/libraries
.build
.config
*.p12
*.iml
*.sql
/node_modules
/target/*
!/target/lawliet-web-2.0-SNAPSHOT.jar