*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.war
*.zip
*.tar.gz
*.rar
hs_err_pid*

secrets.properties
application.properties
application-prod.properties
workspace.xml
usage.statistics.xml
tasks.xml
modules.xml
.target
.DS_Store
.idea/libraries
.build
.config
*.iml
*.sql
*.log
/node/
/node_modules/
/target/