.dashboard-card {
    border-radius: 2%;
    transition: background-color 200ms;
}
.dashboard-card:hover {
    background-color: var(--lumo-tint-5pct);
    cursor: pointer;
}
.dashboard-card:active {
    background-color: var(--lumo-tint-10pct);
    transition: color 0ms;
}

#dashboard-title {
    transition: color 200ms;
}
#dashboard-title:hover {
    cursor: pointer;
    color: var(--lumo-primary-text-color);
}
#dashboard-title:active {
    color: var(--lumo-primary-color);
    transition: color 0ms;
}

#dashboard-servericon {
    height: 96px;
    margin-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.dashboard-title {
    font-size: 170%;
    margin-bottom: 4px;
    margin-top: 0;
}

#dashboard-info {
    margin-top: 22px;
    margin-bottom: -18px;
}



/* Tablet */
@media (max-width: 1000px) {

    #dashboard-info {
        margin-top: 20px;
        margin-bottom: -28px;
    }

}


/* Mobile */
@media (max-width: 700px) {

    .dashboard-title { font-size: 130%; }

    #dashboard-servericon {
        height: 64px;
        margin-right: 0;
    }

}