html {
    --bot-info-width: 250px;
}

#bot-info { background: var(--lumo-secondary); }

.lite-class#bot-info { margin-top: -16px; }

#bot-info-details {
    max-width: calc(var(--bot-info-width) + 32px);
    z-index: 2;
}

.lite-class#bot-info-details { margin-top: -8px; }

.bot-info-details-width {
    max-width: var(--bot-info-width);
}

#bot-info-details-title {
    font-size: 150%;
    font-weight: bold;
}

#bot-info-details-icon {
    width: var(--bot-info-width);
    height: var(--bot-info-width);
    z-index: 1;
    border-radius: 2%;
}

#bot-info-video {
    position: relative;
    background: rgb(21, 33, 42);
    overflow: hidden;
}

#bot-video {
    position: absolute;
    left: 0;
    bottom: 0;
}

.videofade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #1f2c3e 100%);
}



/* Tablet */
@media (max-width: 1000px) {

    .tablet-switch#bot-info { background: #14212a; }

    #header-out { background-color: var(--lumo-shade); }

    #bot-info-details {
        max-width: 100%;
        margin-top: 8px;
    }

    .bot-info-details-width { max-width: 100%; }

    #bot-info-details-icon {
        width: 125px;
        height: 125px;
        margin-right: 16px;
        border-radius: 3%;
    }

    #bot-info-video {
        height: 350px;
        overflow: visible;
    }

    .videofade {
        margin-top: -240px;
        height: 150%;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #1f2c3e 80%);
    }

}



/* Mobile */
@media (max-width: 700px) {

    #bot-info { background: var(--lumo-secondary); }

    .tablet-switch#bot-info { background: var(--lumo-secondary); }

    #bot-info-details { margin-top: 0; }

    #bot-info-details-icon {
        width: 100px;
        height: 100px;
    }

}