#main-page {
    box-sizing: border-box;
    overflow-x: hidden;
}

#header-out {
    position: fixed;
    z-index: 6;
    padding: 16px;
    padding-top: 24px;
    box-sizing: border-box;
    width: 100%;
    transform: none;
    transition-property: background-color, transform;
    transition-duration: 150ms;
}

.scroll-class#header-out {
    transform: translateY(-8px);
    background-color: var(--lumo-shade);
}

.solid#header-out {
    transform: translateY(-8px);
    background-color: var(--lumo-shade);
}

.lite#header-out {
    transform: translateY(-8px);
    background-color: var(--lumo-shade);
}

#header-content {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#vertical-menu {
    position: fixed;
    max-width: 280px;
    transform: translateX(-300px);
    transition: transform 200ms;
    z-index: 5;
}

#horizontal-tabs { height: 32px; }

#blackscreen {
    transition: background 200ms;
    background: rgba(0, 0, 0, 0.0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    pointer-events: none;
}



/* Tablet */
@media (max-width: 1000px) {

    #horizontal-tabs { height: 60px; }

    #header-out {
        background-color: var(--lumo-shade);
        transform: translateY(-8px);
    }

}



/* Mobile */
@media (max-width: 700px) {

    #vertical-menu {
        background: var(--lumo-base-color);
        opacity: 1;
    }

    .show#vertical-menu { transform: none; }

    .show#blackscreen {
        background: rgba(0, 0, 0, 0.5);
        pointer-events: auto;
    }

    #header-out {
        padding: 8px 16px;
        height: 60px;
        transform: none !important;
    }

}