#premium-tiers {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.tier-card:not(:first-child) {
    margin-bottom: 16px;
}

.tier-card {
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--lumo-contrast-10pct);
    width: 100%;
    padding-top: 28px;
    padding-bottom: 8px;
}

.prop-check {
    color: var(--lumo-success-color);
    margin-right: 12px;
    flex-shrink: 0;
}

.prop-notcheck {
    color: var(--lumo-error-color);
    margin-right: 12px;
    flex-shrink: 0;
}

.change-quantities {
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-top: -8px;
    margin-bottom: 12px;
}

#paddle-popup {
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-animation: background-fadein 0.5s;
    -moz-animation: background-fadein 0.5s;
    -o-animation: background-fadein 0.5s;
    animation: background-fadein 0.5s;
}

#paddle-main {
    z-index: 8;
    margin-left: auto;
    margin-right: 0;
    max-width: 550px;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    box-shadow: var(--lumo-box-shadow-l);
    -webkit-animation: slidein 0.5s;
    -moz-animation: slidein 0.5s;
    -o-animation: slidein 0.5s;
    animation: slidein 0.5s;
}

#paddle-header {
    padding-bottom: 32px;
    margin-bottom: 8px;
    background-image: radial-gradient(circle at 29% 55%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 4%, transparent 4%, transparent 44%, transparent 44%, transparent 100%), radial-gradient(circle at 85% 89%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 51%, transparent 51%, transparent 52%, transparent 52%, transparent 100%), radial-gradient(circle at 6% 90%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 53%, transparent 53%, transparent 64%, transparent 64%, transparent 100%), radial-gradient(circle at 35% 75%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 6%, transparent 6%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 56% 75%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 16%, transparent 16%, transparent 23%, transparent 23%, transparent 100%), radial-gradient(circle at 42% 0%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 3%, transparent 3%, transparent 26%, transparent 26%, transparent 100%), radial-gradient(circle at 29% 28%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 51%, transparent 51%, transparent 75%, transparent 75%, transparent 100%), radial-gradient(circle at 77% 21%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 35%, transparent 35%, transparent 55%, transparent 55%, transparent 100%), radial-gradient(circle at 65% 91%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 46%, transparent 46%, transparent 76%, transparent 76%, transparent 100%), linear-gradient(45deg, rgb(42,127,239),rgb(42,127,239));
}

#paddle-title {
    margin-top: 16px;
}

.paddle-container {
    width: 100%;
}

#notification-field {
    width: 100%;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(var(--warning-color-rgb));
    background-color: rgba(var(--warning-color-rgb), 0.1);
    margin-bottom: 4px;
}

#notification-icon {
    color: rgb(var(--warning-color-rgb));
    min-width: 1.5em;
    margin-top: 8px;
}

@keyframes background-fadein {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

@-moz-keyframes background-fadein {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

@-webkit-keyframes background-fadein {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

@-ms-keyframes background-fadein {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

@keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-ms-keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


@media (min-width: 700px) {

    #premium-tiers {
        flex-direction: row;
    }

    .tier-card:not(:first-child) {
        margin-left: 16px;
        margin-bottom: 0;
    }

    .tier-card {
        max-width: 350px;
    }

}