.visible-xsmall { display: none; }
.visible-small { display: none; }
.visible-large { display: block; }
.visible-not-xsmall { display: block; }

html {
    --lumo-secondary: var(--lumo-shade-80pct);
}

vaadin-button {
    cursor: pointer;
}

.pointer { cursor: pointer; }

.app-width {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.app-width-wide {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.round { border-radius: 50%; }

.center-text { text-align: center; }

.center-fixed-width {
    left: 50vw;
    transform: translateX(-50%);
    position: fixed;
}

.center-fixed-full {
    left: 50vw;
    top: 50vh;
    position: fixed;
    transform: translate(-50%, 50%);
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.v-reconnect-dialog {
    position: fixed !important;
}

.fadein-class {
    -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}

.fadein-class-fast {
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    animation: fadein 0.5s;
}



/* Keyframes */
@keyframes lds-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



/* Tablet */
@media (max-width: 1000px) {

    .visible-small { display: block; }
    .visible-large { display: none; }

    .flex-small-row { flex-direction: row; }
    .flex-small-column { flex-direction: column; }
    .flex-small-row-reverse { flex-direction: row-reverse; }
    .flex-small-column-reverse { flex-direction: column-reverse; }

    .size-small-fullwidth { max-width: 100%; }

    .center-fixed {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}



/* Mobile */
@media (max-width: 700px) {

    .visible-xsmall { display: block; }
    .visible-not-xsmall { display: none; }

    .flex-xsmall-row { flex-direction: row; }
    .flex-xsmall-column { flex-direction: column; }
    .flex-xsmall-row-reverse { flex-direction: row-reverse; }
    .flex-xsmall-column-reverse { flex-direction: column-reverse; }

}