.visible-xsmall { display: block; }
.visible-not-xsmall { display: none; }
.visible-small { display: block; }
.visible-large { display: none; }

/* Tablet */
@media (min-width: 700px) {

    .visible-xsmall { display: none; }
    .visible-not-xsmall { display: block; }

}


/* PC */
@media (min-width: 1000px) {

    .visible-small { display: none; }
    .visible-large { display: block; }

}